*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: #202020;
  color: #d8d8d8;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 2em;
}

.course {
  &--typeA {
    color: #744bb4;
  }

  &--typeB {
    color: #ffe19c;
  }

  &--typeC {
    color: #da3e52;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__last-edit {
    font-size: 0.8em;
  }

  &__progressbar {
    height: 100%;
    width: 0;
    border-radius: 0.4rem;
    transition: width 0.4s ease;

    &--typeA {
      background-color: #744bb4;
    }

    &--typeB {
      background-color: #ffe19c;
    }

    &--typeC {
      background-color: #da3e52;
    }
  }

  &__progress-container {
    height: 1rem;
    width: 32rem;
    margin-bottom: 30px;
    border-radius: 0.4rem;
    background-color: #000;
  }

  &__progress-value {
    font-size: 1.2em;
  }

  &__title {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
  }
}
